NET "DIR" LOC ="L3";
NET "EN" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "EN" LOC ="P11";

NET "SSD<6>" LOC = "L14";
NET "SSD<5>" LOC = "H12";
NET "SSD<4>" LOC = "N14";
NET "SSD<3>" LOC = "N11";
NET "SSD<2>" LOC = "P12";
NET "SSD<1>" LOC = "L13";
NET "SSD<0>" LOC = "M12";

NET "ANODES<3>" LOC = "K14";
NET "ANODES<2>" LOC = "M13";
NET "ANODES<1>" LOC = "J12";
NET "ANODES<0>" LOC = "F12";

NET "CLK" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK" LOC = "B8";


NET "RST" CLOCK_DEDICATED_ROUTE = FALSE;
NET "RST" LOC = "G12";